<%= bind_form_for @model, :form_submitted do |f| %>
  <%= f.submit 'Submit' %>
<% end %>

<%# test that this works %>
<%= bind_form_for [@model, @models], :form_submitted do |f| %>
<% end %>

<%= bind_form_for @models, :form_submitted do |f| %>
<% end %>

<div ng-bind="<%= @model.bind(:life) %>"></div>
