<div id="data-binding-div" ng-bind="<%= @model.bind(:name) %>"></div>
<div id="bind-service-div" ng-bind="<%= service(:hello_world, @model.bind(:name)) %>"></div>

<%= directive(:big_hello_world, {}, { id: "directive-div" }) do %>
  <%= directive(:nested_directive, { name: @model.bind(:name) }, { tag: 'h1' }) %>
<% end %>

<label for="input">Input</label>
<input id="input" name="input" type="text" ng-model="<%= @model.bind(:name) %>" />
